.cart-container {
  font-family: "Lexend Exa", sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #e5e5e5;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  overflow-y: auto;
}

.cart-container.open {
  transform: translateX(0%);
}

.cart-header {
  font-size: 10px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fff;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  opacity: 0;
  padding-bottom: 1.5rem;
}

.cart-buttons.open {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.cart-buttons button {
  font-family: "Lexend Exa", sans-serif;
  font-size: medium;
  padding: 16px 20px;
  background-color: #fc9d55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-buttons button:hover {
  color: white;
  background-color: #e68a4d;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.close-cart i {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.cart-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}


.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #888;
  text-align: center;
  transition: all 0.3s ease;
  padding-top: 20px; 
} 

.total {
  color: black;
  font-weight: 300;
  padding: 16px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: white;
  margin-top: auto;
  transition: all 0.3s ease;
}

.total strong {
  padding-left: 10px;
  font-weight: 600;
  color: #fc9d55;
}

.cart-items {
  flex: 1;
  padding-top: 20px;
  padding-left: 12px; 
  transition: padding-top 0.3s ease;
}

.cart-items ul {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: large;
}

.cart-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: minmax(0, 1fr) auto;
  width: 350px;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cart-item:hover {
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

.item-controls {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px; /* Agregar un espacio entre los elementos */
}

.item-controls button {
  background-color: #fc9d55;
  color: white;
  border: none;
  padding: 4px 8px; /* Reducir el padding */
  border-radius: 50px;
  cursor: pointer;
}

.item-controls button:hover {
  background-color: #e68a4d;
  color: white;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.item-price {
  font-weight: bold;
  font-size: 1.1em;
  color: #333;
  margin-left: 10px; /* Espacio entre el nombre del producto y el precio */
  padding: 10px;
}

.form-group select {
  font-family: "Lexend Exa", sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Agregado width: 100% */
}