* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  background-color: #f0f0f0;
  padding: 2rem 1rem;
  text-align: center;
}

.login-container h1 {
  font-family: "Lexend Exa", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #333;
  line-height: 1.2;
}

.form-group {
  font-family: "Lexend Exa", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%; /* Cambiado a 100% */
  max-width: 300px; /* Agregado max-width */
}

.form-group label {
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eee;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Agregado width: 100% */
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Lexend Exa", sans-serif;
  color: black;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.button-group [type="submit"] {
  font-family: "Lexend Exa", sans-serif;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; /* Agregado width: 100% */
}

.button-group [type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.show-users {
  font-family: "Lexend Exa", sans-serif;
  color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-users button {
  font-family: "Lexend Exa", sans-serif;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Agregado width: 100% */
}

.users-list-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.2;
  
}

.show-users button:hover {
  background-color: #0056b3;
}

.show-users h2 {
  text-align: center;
}

.show-users ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
  .login-container {
    min-height: 80vh;
    margin-top: 6rem;
  }
  .login-container h1 {
    font-size: 2rem;
  }
  .form-group {
    max-width: 400px;
  }
}




